{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1 class="mb-4">Сайты</h1>
<table class="table table-bordered table-hover" data-test="urls">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url[0] }}</td>
            <td><a href="{{ url_for('show_url', id=url[0]) }}">{{ url[1] }}</a></td>
            <td>{{ url[2].strftime('%Y-%m-%d %H:%M') if url[2] else '' }}</td>
            <td>{{ url[3] if url[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}