{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Сайты</h1>
<table class="table table-bordered table-hover" data-test="urls">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td><a href="{{ url_for('show_url', id=url.id) }}">{{ url.name }}</a></td>
            <td>
                {% if url.last_check %}
                    {{ url.last_check.strftime('%Y-%m-%d %H:%M') }}
                {% else %}
                {% endif %}
            </td>
            <td>
                {% if url.last_status %}
                    {{ url.last_status }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}