{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>Сайт: {{ url.name }}</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url.name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url.created_at.strftime('%Y-%m-%d') }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('check_url', id=url.id) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>

<div class="table-responsive">
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>Title</th>
                <th>Description</th>
                <th>Дата проверки</th>
            </tr>
        </thead>
        <tbody>
            {% for check in checks %}
            <tr>
                <td>{{ check.id }}</td>
                <td>{{ check.status_code }}</td>
                <td>{{ check.h1 | default('', true) }}</td>
                <td>{{ check.title | default('', true) }}</td>
                <td>{{ check.description | default('', true) }}</td>
                <td>{{ check.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="text-center">Проверок пока нет</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}