{% extends "base.html" %}

{% block content %}
<h1>Сайт: {{ url[1] }}</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url[0] }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url[1] }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url.created_at.strftime('%Y-%m-%d') }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('check_url', id=url[0]) }}">
    <button type="submit" class="btn btn-primary">Запустить проверку</button>
</form>

<div class="table-responsive">
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>Title</th>
                <th>Description</th>
                <th>Дата проверки</th>
            </tr>
        </thead>
        <tbody>
            {% for check in checks %}
            <tr>
                <td>{{ check[0] }}</td>
                <td>{{ check[1] }}</td>
                <td>{{ check[3] | default('', true) }}</td>
                <td>{{ check[4] | default('', true) }}</td>
                <td>{{ check[5] | default('', true) }}</td>
                <td>{{ check[2].strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="text-center">Проверок пока нет</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}